@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TaskWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TaskForm {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  width: 100%;
  max-width: 200px;
  color: #fff;
}

input[type="date"] {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  width: 100%;
  max-width: 200px;
  color: #fff;
  -webkit-appearance: none; 
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
  cursor: pointer;
}

.task-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  flex-shrink: 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.task-btn:hover {
  background-color: #6a44cc;
  transform: translateY(-2px);
}



.task-input::placeholder {
  color: #ffffff4d;
}

.Task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.task-content {
  flex-grow: 1;
}

.task-title,
.task-description,
.task-due-date {
  margin: 0.5rem 0;
}

.task-actions {
  display: flex;
  align-items: center;
}


.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-left: 0.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.edit-icon:hover,
.delete-icon:hover {
  color: #6a44cc; 
  transform: scale(1.1); 
}


.fa-trash {
  margin-left: 0.75rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination button {
  background-color: #8758ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination button:hover {
  background-color: #6a44cc;
  transform: translateY(-2px);
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}

.pagination span {
  color: white;
  margin: 0 0.5rem;
}



.header {
  background-color: #1A1A40;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Make the header stretch across the full width */
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.info {
  text-align: right;
}

.website-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.website-link:hover {
  color: #6a44cc; /* Change the color on hover */
}








 